
.body, .mask {
    height: 100%;
    width: 100%;
   
}

.mask {
    position: absolute;
    -webkit-mask-image: url('./assets/blobanimation (1).svg');
    mask-image: url('./assets/blobanimation (1).svg');
    background: black;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: -20vw -25vh;
    mask-size: 100px;
    -webkit-mask-size: 800px;
}
